html,body{
	margin:0px;
	width:100%;
	height:100%;
	overflow:hidden;
    background:#000;
}

@font-face {
    font-family: 'Square721';
	src:url('http://cantelope.org/gravtype3/TT0246M_.TTF?2') format('truetype'),
		 url('http://cantelope.org/gravtype3/TT0246M_.otf?2') format('opentype'),
		 url('http://cantelope.org/gravtype3/TT0246M_.woff?2') format('woff');
}

#canvas{
	position:absolute;
	width:100%;
	height:100%;
}

#buffer{
	display:none;
}

